.elementor-247 .elementor-element.elementor-element-7d9a0f9 > .elementor-container{min-height:100px;}.elementor-247 .elementor-element.elementor-element-7d9a0f9:not(.elementor-motion-effects-element-type-background), .elementor-247 .elementor-element.elementor-element-7d9a0f9 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-247 .elementor-element.elementor-element-7d9a0f9{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:-10px;margin-bottom:0px;padding:5px 0px 5px 0px;}.elementor-247 .elementor-element.elementor-element-7d9a0f9 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-247 .elementor-element.elementor-element-c2afb52 > .elementor-element-populated{margin:10px 0px -20px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-247 .elementor-element.elementor-element-f793c7c img{width:113px;height:71px;}.elementor-247 .elementor-element.elementor-element-f793c7c > .elementor-widget-container{margin:0px 050px 0px 0px;}.elementor-247 .elementor-element.elementor-element-aa7e1a9 .elementor-heading-title{color:#000000;}body:not(.rtl) .elementor-247 .elementor-element.elementor-element-aa7e1a9{left:0px;}body.rtl .elementor-247 .elementor-element.elementor-element-aa7e1a9{right:0px;}.elementor-247 .elementor-element.elementor-element-aa7e1a9{top:48px;}.elementor-247 .elementor-element.elementor-element-544937c > .elementor-element-populated{margin:0px 0px 0px 10px;--e-column-margin-right:0px;--e-column-margin-left:10px;}.elementor-247 .elementor-element.elementor-element-b9df9fa .elementor-menu-toggle{margin:0 auto;}.elementor-247 .elementor-element.elementor-element-b9df9fa .elementor-nav-menu .elementor-item{font-family:"DM Sans", Sans-serif;font-size:14px;font-weight:600;letter-spacing:1.4px;}.elementor-247 .elementor-element.elementor-element-b9df9fa .elementor-nav-menu--main .elementor-item{color:#252525;fill:#252525;}.elementor-247 .elementor-element.elementor-element-b9df9fa .elementor-nav-menu--main .elementor-item:hover,
					.elementor-247 .elementor-element.elementor-element-b9df9fa .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-247 .elementor-element.elementor-element-b9df9fa .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-247 .elementor-element.elementor-element-b9df9fa .elementor-nav-menu--main .elementor-item:focus{color:#DB7137;fill:#DB7137;}.elementor-247 .elementor-element.elementor-element-b9df9fa .elementor-nav-menu--main .elementor-item.elementor-item-active{color:#DB7137;}.elementor-247 .elementor-element.elementor-element-b9df9fa > .elementor-widget-container{margin:20px 0px 10px 0px;}.elementor-247 .elementor-element.elementor-element-b9df9fa{width:200000px;max-width:200000px;}.elementor-247 .elementor-element.elementor-element-c027bdc .elementor-icon-wrapper{text-align:center;}.elementor-247 .elementor-element.elementor-element-c027bdc.elementor-view-stacked .elementor-icon{background-color:#000000;}.elementor-247 .elementor-element.elementor-element-c027bdc.elementor-view-framed .elementor-icon, .elementor-247 .elementor-element.elementor-element-c027bdc.elementor-view-default .elementor-icon{color:#000000;border-color:#000000;}.elementor-247 .elementor-element.elementor-element-c027bdc.elementor-view-framed .elementor-icon, .elementor-247 .elementor-element.elementor-element-c027bdc.elementor-view-default .elementor-icon svg{fill:#000000;}.elementor-247 .elementor-element.elementor-element-c027bdc .elementor-icon{font-size:20px;}.elementor-247 .elementor-element.elementor-element-c027bdc .elementor-icon i, .elementor-247 .elementor-element.elementor-element-c027bdc .elementor-icon svg{transform:rotate(0deg);}body:not(.rtl) .elementor-247 .elementor-element.elementor-element-c027bdc{left:-120px;}body.rtl .elementor-247 .elementor-element.elementor-element-c027bdc{right:-120px;}.elementor-247 .elementor-element.elementor-element-c027bdc{top:5px;}.elementor-247 .elementor-element.elementor-element-368a58e .elementor-icon-wrapper{text-align:center;}.elementor-247 .elementor-element.elementor-element-368a58e.elementor-view-stacked .elementor-icon{background-color:#000000;}.elementor-247 .elementor-element.elementor-element-368a58e.elementor-view-framed .elementor-icon, .elementor-247 .elementor-element.elementor-element-368a58e.elementor-view-default .elementor-icon{color:#000000;border-color:#000000;}.elementor-247 .elementor-element.elementor-element-368a58e.elementor-view-framed .elementor-icon, .elementor-247 .elementor-element.elementor-element-368a58e.elementor-view-default .elementor-icon svg{fill:#000000;}.elementor-247 .elementor-element.elementor-element-368a58e .elementor-icon{font-size:20px;}.elementor-247 .elementor-element.elementor-element-368a58e .elementor-icon i, .elementor-247 .elementor-element.elementor-element-368a58e .elementor-icon svg{transform:rotate(0deg);}body:not(.rtl) .elementor-247 .elementor-element.elementor-element-368a58e{left:-175px;}body.rtl .elementor-247 .elementor-element.elementor-element-368a58e{right:-175px;}.elementor-247 .elementor-element.elementor-element-368a58e{top:5px;}.elementor-247 .elementor-element.elementor-element-1fd04d0 .elementor-button .elementor-align-icon-right{margin-left:0px;}.elementor-247 .elementor-element.elementor-element-1fd04d0 .elementor-button .elementor-align-icon-left{margin-right:0px;}.elementor-247 .elementor-element.elementor-element-1fd04d0 .elementor-button{font-family:"DM Sans", Sans-serif;font-weight:500;letter-spacing:0.375px;fill:#252525;color:#252525;background-color:#61CE7000;border-style:solid;border-width:1px 1px 1px 1px;border-color:#DB7137;border-radius:0px 0px 0px 0px;padding:20px 30px 20px 30px;}.elementor-247 .elementor-element.elementor-element-1fd04d0 .elementor-button:hover, .elementor-247 .elementor-element.elementor-element-1fd04d0 .elementor-button:focus{color:#FFFFFF;background-color:#DB7137;}.elementor-247 .elementor-element.elementor-element-1fd04d0 .elementor-button:hover svg, .elementor-247 .elementor-element.elementor-element-1fd04d0 .elementor-button:focus svg{fill:#FFFFFF;}.elementor-247 .elementor-element.elementor-element-1fd04d0 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-247 .elementor-element.elementor-element-1fd04d0{width:initial;max-width:initial;top:-15px;}body:not(.rtl) .elementor-247 .elementor-element.elementor-element-1fd04d0{left:-154px;}body.rtl .elementor-247 .elementor-element.elementor-element-1fd04d0{right:-154px;}.elementor-247 .elementor-element.elementor-element-b9f2894 > .elementor-container{max-width:1200px;}.elementor-247 .elementor-element.elementor-element-b9f2894{margin-top:150px;margin-bottom:0px;padding:0% 0% 0% 0%;}.elementor-247 .elementor-element.elementor-element-23ec112:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-247 .elementor-element.elementor-element-23ec112 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("https://grasuki.github.io/mywordpress/wp-content/uploads/2022/10/ib-bg-1.png");background-position:center right;background-repeat:no-repeat;}.elementor-247 .elementor-element.elementor-element-23ec112 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-247 .elementor-element.elementor-element-23ec112 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-247 .elementor-element.elementor-element-03f0da7 .elementor-heading-title{color:#DB7137;font-family:"DM Sans", Sans-serif;font-size:30px;font-weight:400;}.elementor-247 .elementor-element.elementor-element-03f0da7 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-247 .elementor-element.elementor-element-2e17ab5:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-247 .elementor-element.elementor-element-2e17ab5 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("https://grasuki.github.io/mywordpress/wp-content/uploads/2022/10/ib-bg-2.png");background-position:bottom center;background-repeat:no-repeat;}.elementor-247 .elementor-element.elementor-element-2e17ab5 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:55px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-247 .elementor-element.elementor-element-2e17ab5 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-247 .elementor-element.elementor-element-39e9cb6 .elementor-heading-title{color:#DB7137;font-family:"DM Sans", Sans-serif;font-size:30px;font-weight:400;}.elementor-247 .elementor-element.elementor-element-39e9cb6 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-247 .elementor-element.elementor-element-39e9cb6{z-index:2;}.elementor-247 .elementor-element.elementor-element-66327ed:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-247 .elementor-element.elementor-element-66327ed > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("https://grasuki.github.io/mywordpress/wp-content/uploads/2022/10/ib-bg-3.png");background-position:center right;background-repeat:no-repeat;}.elementor-247 .elementor-element.elementor-element-66327ed > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 50px 0px 0px;--e-column-margin-right:50px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-247 .elementor-element.elementor-element-66327ed > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-247 .elementor-element.elementor-element-8def4b3 .elementor-heading-title{color:#DB7137;font-family:"DM Sans", Sans-serif;font-size:30px;font-weight:400;}.elementor-247 .elementor-element.elementor-element-8def4b3 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-247 .elementor-element.elementor-element-264894b:hover > .elementor-background-overlay{filter:brightness( 100% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );}.elementor-247 .elementor-element.elementor-element-264894b{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:190px;}.elementor-247 .elementor-element.elementor-element-264894b > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-247 .elementor-element.elementor-element-2c7846c{text-align:left;top:0px;}.elementor-247 .elementor-element.elementor-element-2c7846c .elementor-heading-title{font-family:"DM Sans", Sans-serif;font-size:200px;font-weight:500;}.elementor-247 .elementor-element.elementor-element-2c7846c > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}body:not(.rtl) .elementor-247 .elementor-element.elementor-element-2c7846c{left:-665px;}body.rtl .elementor-247 .elementor-element.elementor-element-2c7846c{right:-665px;}.elementor-247 .elementor-element.elementor-element-ca99c27{padding:0px 70px 0px 40px;}.elementor-247 .elementor-element.elementor-element-47826c4 .elementor-heading-title{color:#252525;font-family:"DM Sans", Sans-serif;font-size:48px;font-weight:400;}.elementor-247 .elementor-element.elementor-element-8a47539 .elementor-button{background-color:#DB7137;border-style:solid;border-width:0px 0px 0px 0px;border-radius:0px 0px 0px 0px;padding:20px 50px 20px 40px;}.elementor-247 .elementor-element.elementor-element-8a47539 .elementor-button:hover, .elementor-247 .elementor-element.elementor-element-8a47539 .elementor-button:focus{background-color:#252525;}.elementor-247 .elementor-element.elementor-element-8a47539 > .elementor-widget-container{margin:20px 0px 0px 0px;}.elementor-247 .elementor-element.elementor-element-0c55907{margin-top:0px;margin-bottom:0px;}body:not(.rtl) .elementor-247 .elementor-element.elementor-element-c772196{left:350px;}body.rtl .elementor-247 .elementor-element.elementor-element-c772196{right:350px;}.elementor-247 .elementor-element.elementor-element-c772196{top:-550px;}body:not(.rtl) .elementor-247 .elementor-element.elementor-element-a042c00{left:350px;}body.rtl .elementor-247 .elementor-element.elementor-element-a042c00{right:350px;}.elementor-247 .elementor-element.elementor-element-a042c00{top:-550px;}.elementor-247 .elementor-element.elementor-element-b593660{margin-top:200px;margin-bottom:150px;padding:0px 0px 0px 0px;}.elementor-247 .elementor-element.elementor-element-6eba0ec > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-247 .elementor-element.elementor-element-e65021d{--e-image-carousel-slides-to-show:6;}.elementor-247 .elementor-element.elementor-element-e65021d .elementor-swiper-button.elementor-swiper-button-prev, .elementor-247 .elementor-element.elementor-element-e65021d .elementor-swiper-button.elementor-swiper-button-next{font-size:0.1px;}.elementor-247 .elementor-element.elementor-element-e65021d .swiper-pagination-bullet{width:0.1px;height:0.1px;}.elementor-247 .elementor-element.elementor-element-e65021d .swiper-wrapper{display:flex;align-items:center;}.elementor-247 .elementor-element.elementor-element-e65021d .elementor-image-carousel-caption{text-align:center;}.elementor-247 .elementor-element.elementor-element-192e78f{--e-image-carousel-slides-to-show:4;}.elementor-247 .elementor-element.elementor-element-192e78f .elementor-swiper-button.elementor-swiper-button-prev, .elementor-247 .elementor-element.elementor-element-192e78f .elementor-swiper-button.elementor-swiper-button-next{font-size:0.1px;color:#8F6E6E;}.elementor-247 .elementor-element.elementor-element-192e78f .elementor-swiper-button.elementor-swiper-button-prev svg, .elementor-247 .elementor-element.elementor-element-192e78f .elementor-swiper-button.elementor-swiper-button-next svg{fill:#8F6E6E;}.elementor-247 .elementor-element.elementor-element-192e78f .swiper-pagination-bullet{width:5px;height:5px;}.elementor-247 .elementor-element.elementor-element-192e78f .elementor-image-carousel-caption{text-align:center;}.elementor-247 .elementor-element.elementor-element-4f182a5 > .elementor-container{min-height:418px;}.elementor-247 .elementor-element.elementor-element-4f182a5:not(.elementor-motion-effects-element-type-background), .elementor-247 .elementor-element.elementor-element-4f182a5 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FAF6F1;}.elementor-247 .elementor-element.elementor-element-4f182a5{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:50px;margin-bottom:50px;}.elementor-247 .elementor-element.elementor-element-4f182a5 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-247 .elementor-element.elementor-element-89758c9 .elementor-heading-title{color:#DB7137;font-family:"DM Sans", Sans-serif;font-size:18px;font-weight:500;text-transform:uppercase;letter-spacing:4.2px;}body:not(.rtl) .elementor-247 .elementor-element.elementor-element-89758c9{left:-596px;}body.rtl .elementor-247 .elementor-element.elementor-element-89758c9{right:-596px;}.elementor-247 .elementor-element.elementor-element-89758c9{top:0px;}body:not(.rtl) .elementor-247 .elementor-element.elementor-element-690bc57{left:75px;}body.rtl .elementor-247 .elementor-element.elementor-element-690bc57{right:75px;}.elementor-247 .elementor-element.elementor-element-690bc57{top:0px;}.elementor-247 .elementor-element.elementor-element-690bc57 > .elementor-widget-container{--e-transform-scale:2;}body:not(.rtl) .elementor-247 .elementor-element.elementor-element-ca9435a{left:-100px;}body.rtl .elementor-247 .elementor-element.elementor-element-ca9435a{right:-100px;}.elementor-247 .elementor-element.elementor-element-ca9435a{top:0px;}.elementor-247 .elementor-element.elementor-element-ca9435a > .elementor-widget-container{--e-transform-scale:2;}.elementor-247 .elementor-element.elementor-element-88de9d6 .elementor-heading-title{color:#DB7137;font-family:"Roboto", Sans-serif;font-size:30px;font-weight:400;}body.elementor-page-247:not(.elementor-motion-effects-element-type-background), body.elementor-page-247 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}@media(min-width:768px){.elementor-247 .elementor-element.elementor-element-c2afb52{width:20%;}.elementor-247 .elementor-element.elementor-element-544937c{width:60%;}.elementor-247 .elementor-element.elementor-element-e6c7a15{width:14.36%;}.elementor-247 .elementor-element.elementor-element-89fda65{width:2.915%;}.elementor-247 .elementor-element.elementor-element-6415bba{width:2.637%;}.elementor-247 .elementor-element.elementor-element-89edef1{width:55%;}.elementor-247 .elementor-element.elementor-element-aa58a30{width:45%;}}/* Start custom CSS for nav-menu, class: .elementor-element-b9df9fa *//*.elementor-item-active:after {*/
/*    content: "....." !important;*/
/*    padding-left: 20px;*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    letter-spacing: 4.5px;*/
/*    font-size: 20px;*/
/*}*//* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-03f0da7 */.vmc {
    background-color: rgb(219,113,55, 0.1);
    width: 25px;
    height: 30px;
    top: 90%;
    position: absolute;
    transition: all 0.5s ease;
}
.hvmc:hover .vmc{
    width: 110px;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-8def4b3 */.vmc {
    background-color: rgb(219,113,55, 0.1);
    width: 25px;
    height: 30px;
    top: 90%;
    position: absolute;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-2c7846c */.cuonchu {
    white-space:nowrap;
    color: white;
    text-shadow: -1px 0 #d9cdbe, 0 1px #d9cdbe, 1px 0 #d9cdbe, 0 -1px #d9cdbe;
    width: 100%;
    transition: all 2s;

}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-47826c4 */.divideColumn:before {
    content: '';
    
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    color: var(--lemani-primary-color);
    background: #db7137;
    box-shadow: 10px 0px #db7137, 20px 0px #db7137, 30px 0px #db7137, 40px 0px #db7137, 50px 0px #db7137, 60px 0px #db7137, 70px 0px #db7137, 80px 0px #db7137;
}/* End custom CSS */
/* Start custom CSS for image-carousel, class: .elementor-element-e65021d */img[alt="client-1-1"] {
    width: 0.1px;
}
.client12 {
    transition: all 0.5s ease;
    margin-top: -31px;
}
.ex:hover .client12{
    transition: all 0.5s ease;
    margin-top: 0px !important;
}
.ex:hover .client11{
 transition: all 0.5s ease;
 margin-top: 31px;
}


.client22 {
    transition: all 0.5s ease;
    margin-top: -88px;
}
.ex:hover .client22{
    transition: all 0.5s ease;
    margin-top: 0px !important;
}
.ex:hover .client21{
 transition: all 0.5s ease;
 margin-top: 88px;
}
.client32 {
    transition: all 0.5s ease;
    margin-top: -40px;
}
.ex:hover .client32{
    transition: all 0.5s ease;
    margin-top: 0px !important;
}
.ex:hover .client31{
 transition: all 0.5s ease;
 margin-top: 40px;
}
.client42 {
    transition: all 0.5s ease;
    margin-top: -95px;
}
.ex:hover .client42{
    transition: all 0.5s ease;
    margin-top: 0px !important;
}
.ex:hover .client41{
 transition: all 0.5s ease;
 margin-top: 95px;
}

.client52 {
    transition: all 0.5s ease;
    margin-top: -82px;
}
.ex:hover .client52{
    transition: all 0.5s ease;
    margin-top: 0px !important;
}
.ex:hover .client51{
 transition: all 0.5s ease;
 margin-top: 82px;
}
.client62 {
    transition: all 0.5s ease;
    margin-top: -53px;
}
.ex:hover .client62{
    transition: all 0.5s ease;
    margin-top: 0px !important;
}
.ex:hover .client61{
 transition: all 0.5s ease;
 margin-top: 53px;
}/* End custom CSS */
/* Start custom CSS for image-carousel, class: .elementor-element-192e78f */.tooltip {
 position: absolute;
 top: 0;
width: 100%;
height: 100%;
    cursor: pointer;
}
.panel {
    transition: all 0.5s ease;
    opacity: 0;
    -webkit-transform: perspective(300) rotateY(20deg);
    -webkit-transform-origin: 0% 0%;
    transform: perspective(300) rotateY(20deg);
    transform-origin: 0% 0%;
    background: #252525;
    width: 100%;
    height: 130px;
    position:absolute;
    top: 30%;
    text-align: left;
    padding: 30px 30px;
}


img[alt="ca1"]:hover .panel {
     -webkit-transform: perspective(300) rotateY(0deg);
    -webkit-transform-origin: 0% 0%;
    transform: perspective(300) rotateY(0deg);
    transform-origin: 0% 0%;
    opacity: 1; 
    cursor: pointer;
    overflow: visible !important;
}
.tooltip:hover .panel {
     -webkit-transform: perspective(300) rotateY(0deg);
    -webkit-transform-origin: 0% 0%;
    transform: perspective(300) rotateY(0deg);
    transform-origin: 0% 0%;
    opacity: 1; 
    cursor: pointer;
}

.panel .a1 {
    transition: all 0.4s ease;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 700;
    overflow: visible !important;
}
.panel .a1:hover {
    color: #db7137 !important;
    overflow: visible !important;
}
.panel .a2 {
    transition: all 0.4s ease;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
}
.panel .a2:hover {
    text-decoration: underline !important;
}/* End custom CSS */