.elementor-251 .elementor-element.elementor-element-502e709 > .elementor-container{min-height:100px;}.elementor-251 .elementor-element.elementor-element-502e709:not(.elementor-motion-effects-element-type-background), .elementor-251 .elementor-element.elementor-element-502e709 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-251 .elementor-element.elementor-element-502e709{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:-10px;margin-bottom:0px;padding:5px 0px 5px 0px;}.elementor-251 .elementor-element.elementor-element-502e709 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-251 .elementor-element.elementor-element-1882b15 > .elementor-element-populated{margin:10px 0px -20px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-251 .elementor-element.elementor-element-548e823 img{width:113px;height:71px;}.elementor-251 .elementor-element.elementor-element-548e823 > .elementor-widget-container{margin:0px 050px 0px 0px;}.elementor-251 .elementor-element.elementor-element-20189ad .elementor-heading-title{color:#000000;}body:not(.rtl) .elementor-251 .elementor-element.elementor-element-20189ad{left:0px;}body.rtl .elementor-251 .elementor-element.elementor-element-20189ad{right:0px;}.elementor-251 .elementor-element.elementor-element-20189ad{top:48px;}.elementor-251 .elementor-element.elementor-element-e434712 > .elementor-element-populated{margin:0px 0px 0px 10px;--e-column-margin-right:0px;--e-column-margin-left:10px;}.elementor-251 .elementor-element.elementor-element-e8ceee5 .elementor-menu-toggle{margin:0 auto;}.elementor-251 .elementor-element.elementor-element-e8ceee5 .elementor-nav-menu .elementor-item{font-family:"DM Sans", Sans-serif;font-size:14px;font-weight:600;letter-spacing:1.4px;}.elementor-251 .elementor-element.elementor-element-e8ceee5 .elementor-nav-menu--main .elementor-item{color:#252525;fill:#252525;}.elementor-251 .elementor-element.elementor-element-e8ceee5 .elementor-nav-menu--main .elementor-item:hover,
					.elementor-251 .elementor-element.elementor-element-e8ceee5 .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-251 .elementor-element.elementor-element-e8ceee5 .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-251 .elementor-element.elementor-element-e8ceee5 .elementor-nav-menu--main .elementor-item:focus{color:#DB7137;fill:#DB7137;}.elementor-251 .elementor-element.elementor-element-e8ceee5 .elementor-nav-menu--main .elementor-item.elementor-item-active{color:#DB7137;}.elementor-251 .elementor-element.elementor-element-e8ceee5 > .elementor-widget-container{margin:20px 0px 10px 0px;}.elementor-251 .elementor-element.elementor-element-e8ceee5{width:200000px;max-width:200000px;}.elementor-251 .elementor-element.elementor-element-ad7be19 .elementor-search-form{text-align:center;}.elementor-251 .elementor-element.elementor-element-ad7be19 .elementor-search-form__toggle{--e-search-form-toggle-size:33px;--e-search-form-toggle-background-color:#FFFFFF;}.elementor-251 .elementor-element.elementor-element-ad7be19 input[type="search"].elementor-search-form__input{font-family:"DM Sans", Sans-serif;font-size:20px;font-weight:400;}.elementor-251 .elementor-element.elementor-element-ad7be19 .elementor-search-form__input,
					.elementor-251 .elementor-element.elementor-element-ad7be19 .elementor-search-form__icon,
					.elementor-251 .elementor-element.elementor-element-ad7be19 .elementor-lightbox .dialog-lightbox-close-button,
					.elementor-251 .elementor-element.elementor-element-ad7be19 .elementor-lightbox .dialog-lightbox-close-button:hover,
					.elementor-251 .elementor-element.elementor-element-ad7be19.elementor-search-form--skin-full_screen input[type="search"].elementor-search-form__input{color:#000000;fill:#000000;}.elementor-251 .elementor-element.elementor-element-ad7be19:not(.elementor-search-form--skin-full_screen) .elementor-search-form--focus .elementor-search-form__input,
					.elementor-251 .elementor-element.elementor-element-ad7be19 .elementor-search-form--focus .elementor-search-form__icon,
					.elementor-251 .elementor-element.elementor-element-ad7be19 .elementor-lightbox .dialog-lightbox-close-button:hover,
					.elementor-251 .elementor-element.elementor-element-ad7be19.elementor-search-form--skin-full_screen input[type="search"].elementor-search-form__input:focus{color:#000000;fill:#000000;}.elementor-251 .elementor-element.elementor-element-ad7be19:not(.elementor-search-form--skin-full_screen) .elementor-search-form__container{border-width:0px 0px 0px 0px;border-radius:0px;}.elementor-251 .elementor-element.elementor-element-ad7be19.elementor-search-form--skin-full_screen input[type="search"].elementor-search-form__input{border-width:0px 0px 0px 0px;border-radius:0px;}body:not(.rtl) .elementor-251 .elementor-element.elementor-element-ad7be19{left:-131px;}body.rtl .elementor-251 .elementor-element.elementor-element-ad7be19{right:-131px;}.elementor-251 .elementor-element.elementor-element-ad7be19{top:0px;z-index:2;}.elementor-251 .elementor-element.elementor-element-1043bd4 .elementor-icon-wrapper{text-align:center;}.elementor-251 .elementor-element.elementor-element-1043bd4.elementor-view-stacked .elementor-icon{background-color:#000000;}.elementor-251 .elementor-element.elementor-element-1043bd4.elementor-view-framed .elementor-icon, .elementor-251 .elementor-element.elementor-element-1043bd4.elementor-view-default .elementor-icon{color:#000000;border-color:#000000;}.elementor-251 .elementor-element.elementor-element-1043bd4.elementor-view-framed .elementor-icon, .elementor-251 .elementor-element.elementor-element-1043bd4.elementor-view-default .elementor-icon svg{fill:#000000;}.elementor-251 .elementor-element.elementor-element-1043bd4 .elementor-icon{font-size:20px;}.elementor-251 .elementor-element.elementor-element-1043bd4 .elementor-icon i, .elementor-251 .elementor-element.elementor-element-1043bd4 .elementor-icon svg{transform:rotate(0deg);}body:not(.rtl) .elementor-251 .elementor-element.elementor-element-1043bd4{left:-175px;}body.rtl .elementor-251 .elementor-element.elementor-element-1043bd4{right:-175px;}.elementor-251 .elementor-element.elementor-element-1043bd4{top:5px;}.elementor-251 .elementor-element.elementor-element-47b7b7a .elementor-button .elementor-align-icon-right{margin-left:0px;}.elementor-251 .elementor-element.elementor-element-47b7b7a .elementor-button .elementor-align-icon-left{margin-right:0px;}.elementor-251 .elementor-element.elementor-element-47b7b7a .elementor-button{font-family:"DM Sans", Sans-serif;font-weight:500;letter-spacing:0.375px;fill:#252525;color:#252525;background-color:#61CE7000;border-style:solid;border-width:1px 1px 1px 1px;border-color:#DB7137;border-radius:0px 0px 0px 0px;padding:20px 30px 20px 30px;}.elementor-251 .elementor-element.elementor-element-47b7b7a .elementor-button:hover, .elementor-251 .elementor-element.elementor-element-47b7b7a .elementor-button:focus{color:#FFFFFF;background-color:#DB7137;}.elementor-251 .elementor-element.elementor-element-47b7b7a .elementor-button:hover svg, .elementor-251 .elementor-element.elementor-element-47b7b7a .elementor-button:focus svg{fill:#FFFFFF;}.elementor-251 .elementor-element.elementor-element-47b7b7a > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-251 .elementor-element.elementor-element-47b7b7a{width:initial;max-width:initial;top:-15px;}body:not(.rtl) .elementor-251 .elementor-element.elementor-element-47b7b7a{left:-154px;}body.rtl .elementor-251 .elementor-element.elementor-element-47b7b7a{right:-154px;}.elementor-251 .elementor-element.elementor-element-41d126f > .elementor-container{min-height:410px;}.elementor-251 .elementor-element.elementor-element-41d126f > .elementor-background-overlay{background-image:url("https://grasuki.github.io/mywordpress/wp-content/uploads/2022/10/page-title_contacts-scaled-1.jpg");background-position:center center;background-size:cover;opacity:1;}.elementor-251 .elementor-element.elementor-element-61a06ca{text-align:center;}.elementor-251 .elementor-element.elementor-element-61a06ca .elementor-heading-title{color:#FFFFFF;font-family:"DM Sans", Sans-serif;font-size:60px;font-weight:400;line-height:80px;}body:not(.rtl) .elementor-251 .elementor-element.elementor-element-fcb0829{left:90%;}body.rtl .elementor-251 .elementor-element.elementor-element-fcb0829{right:90%;}.elementor-251 .elementor-element.elementor-element-fcb0829{top:80%;}.elementor-251 .elementor-element.elementor-element-45a1329{margin-top:150px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-251 .elementor-element.elementor-element-f6d2cb5 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-251 .elementor-element.elementor-element-28bf75d .elementor-heading-title{color:#252525;font-family:"DM Sans", Sans-serif;font-size:48px;font-weight:400;line-height:60px;}.elementor-251 .elementor-element.elementor-element-401544a .elementor-heading-title{color:#535353;font-family:"DM Sans", Sans-serif;font-size:16px;font-weight:400;font-style:italic;line-height:30px;}.elementor-251 .elementor-element.elementor-element-401544a > .elementor-widget-container{padding:40px 0px 0px 170px;}.elementor-251 .elementor-element.elementor-element-247ac82{margin-top:75px;margin-bottom:0px;}.elementor-251 .elementor-element.elementor-element-0aba576{margin-top:100px;margin-bottom:100px;padding:0px 0px 0px 0px;}.elementor-251 .elementor-element.elementor-element-8f2ff07 > .elementor-widget-container{padding:0px 0px 0px 50px;}.elementor-251 .elementor-element.elementor-element-f655c41:not(.elementor-motion-effects-element-type-background), .elementor-251 .elementor-element.elementor-element-f655c41 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FAF6F1;}.elementor-251 .elementor-element.elementor-element-f655c41{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:150px 0px 0px 0px;}.elementor-251 .elementor-element.elementor-element-f655c41 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-251 .elementor-element.elementor-element-474c993{text-align:center;}.elementor-251 .elementor-element.elementor-element-474c993 .elementor-heading-title{color:#252525;font-family:"DM Sans", Sans-serif;font-size:53px;font-weight:400;line-height:60px;}.elementor-251 .elementor-element.elementor-element-26b1ff6 .elementor-column-gap-custom .elementor-column > .elementor-element-populated{padding:25px;}.elementor-251 .elementor-element.elementor-element-26b1ff6:not(.elementor-motion-effects-element-type-background), .elementor-251 .elementor-element.elementor-element-26b1ff6 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FAF6F1;}.elementor-251 .elementor-element.elementor-element-26b1ff6{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:0px 20px 0px 20px;}.elementor-251 .elementor-element.elementor-element-26b1ff6 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-251 .elementor-element.elementor-element-f2a27ea > .elementor-element-populated, .elementor-251 .elementor-element.elementor-element-f2a27ea > .elementor-element-populated > .elementor-background-overlay, .elementor-251 .elementor-element.elementor-element-f2a27ea > .elementor-background-slideshow{border-radius:0px 0px 0px 0px;}.elementor-251 .elementor-element.elementor-element-e851d6c{text-align:center;}.elementor-251 .elementor-element.elementor-element-e851d6c:hover img{opacity:0.45;}.elementor-251 .elementor-element.elementor-element-e851d6c img{border-radius:50% 0% 0% 0%;}.elementor-251 .elementor-element.elementor-element-e851d6c > .elementor-widget-container{transition:background 0.5s;border-radius:0px 0px 0px 0px;}.elementor-251 .elementor-element.elementor-element-622268d img{border-radius:0% 0% 50% 0%;}.elementor-251 .elementor-element.elementor-element-fdb9ce6 img{border-radius:50% 0% 0% 0%;}.elementor-251 .elementor-element.elementor-element-e4365fa:not(.elementor-motion-effects-element-type-background), .elementor-251 .elementor-element.elementor-element-e4365fa > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FAF6F1;}.elementor-251 .elementor-element.elementor-element-e4365fa{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:-55px;margin-bottom:0px;}.elementor-251 .elementor-element.elementor-element-e4365fa > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-251 .elementor-element.elementor-element-6e50bda{text-align:center;}.elementor-251 .elementor-element.elementor-element-6e50bda .elementor-heading-title{color:#252525;font-family:"DM Sans", Sans-serif;font-size:28px;font-weight:400;}.elementor-251 .elementor-element.elementor-element-729a7fc{text-align:center;}.elementor-251 .elementor-element.elementor-element-729a7fc .elementor-heading-title{color:#252525;font-family:"DM Sans", Sans-serif;font-size:28px;font-weight:400;}.elementor-251 .elementor-element.elementor-element-23d6688{text-align:center;}.elementor-251 .elementor-element.elementor-element-23d6688 .elementor-heading-title{color:#252525;font-family:"DM Sans", Sans-serif;font-size:28px;font-weight:400;}.elementor-251 .elementor-element.elementor-element-e95944e:not(.elementor-motion-effects-element-type-background), .elementor-251 .elementor-element.elementor-element-e95944e > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FAF6F1;}.elementor-251 .elementor-element.elementor-element-e95944e{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-251 .elementor-element.elementor-element-e95944e > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-251 .elementor-element.elementor-element-5b25e9a .elementor-button{background-color:#252525;border-style:solid;border-width:0px 0px 0px 0px;border-radius:0px 0px 0px 0px;padding:20px 50px 20px 40px;}.elementor-251 .elementor-element.elementor-element-5b25e9a .elementor-button:hover, .elementor-251 .elementor-element.elementor-element-5b25e9a .elementor-button:focus{background-color:#DB7137;}.elementor-251 .elementor-element.elementor-element-5b25e9a > .elementor-widget-container{margin:20px 0px 150px 0px;}.elementor-251 .elementor-element.elementor-element-a944d9b > .elementor-background-overlay{background-image:url("https://grasuki.github.io/mywordpress/wp-content/uploads/2022/10/about_us-testimonials.jpg");background-position:-200px 0px;background-repeat:no-repeat;background-size:contain;opacity:1;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-251 .elementor-element.elementor-element-a944d9b{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-251 .elementor-element.elementor-element-b390470 .elementor-element-populated .elementor-heading-title{color:#FFFFFF;}.elementor-251 .elementor-element.elementor-element-d6244cd > .elementor-widget-container{margin:0px 0px 0px 0px;padding:100px 140px 100px 140px;background-color:#DB7137;background-image:url("https://grasuki.github.io/mywordpress/wp-content/uploads/2022/10/section-bg-1.png");background-position:280px 100px;background-repeat:no-repeat;}.elementor-251 .elementor-element.elementor-element-55283c5:not(.elementor-motion-effects-element-type-background), .elementor-251 .elementor-element.elementor-element-55283c5 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#252525;}.elementor-251 .elementor-element.elementor-element-55283c5{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:0150px 50px 170px 50px;}.elementor-251 .elementor-element.elementor-element-55283c5 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-251 .elementor-element.elementor-element-b74639e .elementor-heading-title{color:#FFFFFF;font-family:"DM Sans", Sans-serif;font-size:20px;font-weight:400;line-height:37.5px;}.elementor-251 .elementor-element.elementor-element-b74639e > .elementor-widget-container{margin:10px 0px 15px 0px;}.elementor-251 .elementor-element.elementor-element-77df85a .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(10px/2);}.elementor-251 .elementor-element.elementor-element-77df85a .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(10px/2);}.elementor-251 .elementor-element.elementor-element-77df85a .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(10px/2);margin-left:calc(10px/2);}.elementor-251 .elementor-element.elementor-element-77df85a .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-10px/2);margin-left:calc(-10px/2);}body.rtl .elementor-251 .elementor-element.elementor-element-77df85a .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-10px/2);}body:not(.rtl) .elementor-251 .elementor-element.elementor-element-77df85a .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-10px/2);}.elementor-251 .elementor-element.elementor-element-77df85a .elementor-icon-list-icon i{color:#DB7137;}.elementor-251 .elementor-element.elementor-element-77df85a .elementor-icon-list-icon svg{fill:#DB7137;}.elementor-251 .elementor-element.elementor-element-77df85a{--e-icon-list-icon-size:20px;}.elementor-251 .elementor-element.elementor-element-77df85a .elementor-icon-list-text{color:#FFFFFF;padding-left:15px;}.elementor-251 .elementor-element.elementor-element-77df85a .elementor-icon-list-item:hover .elementor-icon-list-text{color:#DB7137;}.elementor-251 .elementor-element.elementor-element-77df85a .elementor-icon-list-item > .elementor-icon-list-text, .elementor-251 .elementor-element.elementor-element-77df85a .elementor-icon-list-item > a{font-family:"DM Sans", Sans-serif;font-weight:400;line-height:30px;}.elementor-251 .elementor-element.elementor-element-77df85a > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-251 .elementor-element.elementor-element-b41aa17 img{width:135px;}body:not(.rtl) .elementor-251 .elementor-element.elementor-element-b41aa17{left:0px;}body.rtl .elementor-251 .elementor-element.elementor-element-b41aa17{right:0px;}.elementor-251 .elementor-element.elementor-element-b41aa17{top:-36px;z-index:1;}.elementor-251 .elementor-element.elementor-element-a92fb2c{text-align:center;color:#FFFFFF;font-family:"DM Sans", Sans-serif;font-weight:400;top:85px;z-index:2;}body:not(.rtl) .elementor-251 .elementor-element.elementor-element-a92fb2c{left:0px;}body.rtl .elementor-251 .elementor-element.elementor-element-a92fb2c{right:0px;}.elementor-251 .elementor-element.elementor-element-4e343ea{--grid-template-columns:repeat(0, auto);--icon-size:12.5px;--grid-column-gap:10px;top:181px;}.elementor-251 .elementor-element.elementor-element-4e343ea .elementor-widget-container{text-align:center;}.elementor-251 .elementor-element.elementor-element-4e343ea .elementor-social-icon{background-color:#22225500;--icon-padding:1.2em;border-style:solid;border-width:1px 1px 1px 1px;border-color:#505050;}.elementor-251 .elementor-element.elementor-element-4e343ea .elementor-social-icon i{color:#FFFFFF;}.elementor-251 .elementor-element.elementor-element-4e343ea .elementor-social-icon svg{fill:#FFFFFF;}.elementor-251 .elementor-element.elementor-element-4e343ea .elementor-social-icon:hover{background-color:#DB7137;}.elementor-251 .elementor-element.elementor-element-4e343ea .elementor-social-icon:hover i{color:#FFFFFF;}.elementor-251 .elementor-element.elementor-element-4e343ea .elementor-social-icon:hover svg{fill:#FFFFFF;}.elementor-251 .elementor-element.elementor-element-4e343ea > .elementor-widget-container{margin:20px 0px 0px 0px;}body:not(.rtl) .elementor-251 .elementor-element.elementor-element-4e343ea{left:0px;}body.rtl .elementor-251 .elementor-element.elementor-element-4e343ea{right:0px;}.elementor-251 .elementor-element.elementor-element-2e1138e{text-align:right;}.elementor-251 .elementor-element.elementor-element-2e1138e .elementor-heading-title{color:#FFFFFF;font-family:"DM Sans", Sans-serif;font-size:20px;font-weight:400;line-height:37.5px;}.elementor-251 .elementor-element.elementor-element-2e1138e > .elementor-widget-container{margin:10px 0px 15px 0px;}.elementor-251 .elementor-element.elementor-element-1464385{text-align:right;color:#DB7137;font-family:"DM Sans", Sans-serif;font-weight:400;line-height:35px;}.elementor-251 .elementor-element.elementor-element-511f7cf{text-align:center;}.elementor-251 .elementor-element.elementor-element-511f7cf .elementor-heading-title{color:#69737B;font-family:"DM Sans", Sans-serif;font-size:16px;font-weight:400;}.elementor-251 .elementor-element.elementor-element-511f7cf > .elementor-widget-container{padding:30px 0px 30px 0px;background-color:#252525;border-style:solid;border-width:1px 1px 1px 1px;}body.elementor-page-251:not(.elementor-motion-effects-element-type-background), body.elementor-page-251 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}@media(min-width:768px){.elementor-251 .elementor-element.elementor-element-1882b15{width:20%;}.elementor-251 .elementor-element.elementor-element-e434712{width:60%;}.elementor-251 .elementor-element.elementor-element-8f9fbf0{width:14.36%;}.elementor-251 .elementor-element.elementor-element-1e04e47{width:2.915%;}.elementor-251 .elementor-element.elementor-element-863f651{width:2.637%;}.elementor-251 .elementor-element.elementor-element-f6d2cb5{width:40%;}.elementor-251 .elementor-element.elementor-element-2c030cc{width:60%;}.elementor-251 .elementor-element.elementor-element-f2a27ea{width:33.432%;}.elementor-251 .elementor-element.elementor-element-b2a5154{width:32.869%;}.elementor-251 .elementor-element.elementor-element-154162b{width:30%;}.elementor-251 .elementor-element.elementor-element-7db2617{width:40%;}.elementor-251 .elementor-element.elementor-element-14f5f3e{width:29.333%;}}/* Start custom CSS for search-form, class: .elementor-element-ad7be19 */.elementor-search-form__container, .elementor-search-form--full-screen, .elementor-lightbox {
    padding-top: 30px !important;
    height: 120px !important;
    display: block;
    background: white !important;
    border: 0 !important;
    
    
}
.elementor-search-form__input {
    border: 0 !important;
    box-shadow: none !important;
    width: 100%;
    padding: 0 !important;
    margin: 0 important;
}
.dialog-lightbox-close-button, .dialog-close-button {
    top: 50px;
    right: 70px!important;
    color: #db7137 !important;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-36669e5 */.hello1 {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    color: #db7137;
    background: currentColor;
    box-shadow: 10px 0px currentColor, 20px 0px currentColor, 30px 0px currentColor, 40px 0px currentColor, 50px 0px currentColor, 60px 0px currentColor, 70px 0px currentColor, 80px 0px currentColor;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-0aba576 */.client12 {
    position: absolute;
    margin-top: -31px;
    z-index: 1 !important;
}
.ex:hover .client12{
    position: absolute;
    margin-top: 0px !important;
}
.ex:hover .client11{
 margin-top: 31px;
}


.client22 {
    position: absolute;
    margin-top: -88px;
    z-index: 1 !important;
}
.ex:hover .client22{
    position: absolute;
    margin-top: 0px !important;
}
.ex:hover .client21{
 margin-top: 88px;
}

.client32 {
    position: absolute;
    margin-top: -40px;
    z-index: 1 !important;
}
.ex:hover .client32{
    position: absolute;
    margin-top: 0px !important;
}
.ex:hover .client31{
 margin-top: 40px;
}

.client42 {
    position: absolute;
    margin-top: -95px;
    z-index: 1 !important;
}
.ex:hover .client42{
    position: absolute;
    margin-top: 0px !important;
}
.ex:hover .client41{
 margin-top: 95px;
}

.client52 {
    position: absolute;
    margin-top: -82px;
    z-index: 1 !important;
}
.ex:hover .client52{
    position: absolute;
    margin-top: 0px !important;
}
.ex:hover .client51{
 margin-top: 82px;
}

.client62 {
    position: absolute;
    margin-top: -53px;
    z-index: 1 !important;
}
.ex:hover .client62{
    position: absolute;
    margin-top: 0px !important;
}
.ex:hover .client61{
 margin-top: 53px;
}
.ex {
    position: absolute;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-474c993 */.header:before {
    content: '';
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 0;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    color: #db7137;
    background: #db7137;
    box-shadow: 10px 0px #db7137, 20px 0px #db7137, 30px 0px #db7137, 40px 0px #db7137, 50px 0px #db7137, 60px 0px #db7137, 70px 0px #db7137, 80px 0px #db7137;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-e851d6c */.anh1hover {
    transition: opacity 0.5s ease;
    opacity: 0;
}
.anh1:hover .anh1hover {
    background: white;
    width: 100%;
    height: 87%;
    position: absolute;
    bottom: 13%;
    border-radius: 50% 0 0 0;
    opacity: 0.9;
    border: 1px solid #db7137;

}
.anh1:hover .bieutuong1 {
    transition: all 0.5s ease ;
}
.anh1:hover .bieutuong2 {
    transition: all 0.5s ease 0.1s;
}
.anh1:hover .bieutuong3 {
    transition: all 0.5s ease 0.2s;
}
.anh1:hover .bieutuong4 {
    transition: all 0.5s ease 0.3s;
}



.anh1:hover .bieutuong1, .anh1:hover .bieutuong2, .anh1:hover .bieutuong3, .anh1:hover .bieutuong4 {
    top: 40%;
    opacity: 1;
}
.bieutuong1, .bieutuong2, .bieutuong3, .bieutuong4 {
    position: absolute;
    top: 50%;
    opacity: 0;

}
.bieutuong1 {
    left: 25%;
    transition: all 0s ease;
}
.bieutuong2 {
    left: 40%;
    transition: all 0s ease;
}
.bieutuong3 {
    left: 55%;
    transition: all 0s ease;
}
.bieutuong4 {
    left: 70%;
    transition: all 0s ease;
}
.widget-image-caption, .wp-caption-text {
    border: 0 !important;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-6e50bda */.lienket {
    color: #252525;

    transition: all 0.5s ease;
}
.lienket:hover {
    text-decoration: underline;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-729a7fc */.lienket {
    color: #252525;

    transition: all 0.5s ease;
}
.lienket:hover {
    text-decoration: underline;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-23d6688 */.lienket {
    color: #252525;

    transition: all 0.5s ease;
}
.lienket:hover {
    text-decoration: underline;
}/* End custom CSS */
/* Start custom CSS for icon-list, class: .elementor-element-77df85a */.elementor-icon-list-text {
    transition: all 0.4s ease !important;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-511f7cf */.linkfooter {
    text-decoration: underline !important;
    transition: all 0.5s ease;
}
.linkfooter:hover {
    color: #db7137 !important;
}/* End custom CSS */
/* Start custom CSS */.CFG {
    box-shadow: none !important;
    background: #db7137 !important;
    color: white !important;
    border-radius: 0 !important;
    border: 0 !important;
    outline: none !important;
    
}/* End custom CSS */