.elementor-251 .elementor-element.elementor-element-10720ce > .elementor-container{min-height:100px;}.elementor-251 .elementor-element.elementor-element-10720ce:not(.elementor-motion-effects-element-type-background), .elementor-251 .elementor-element.elementor-element-10720ce > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-251 .elementor-element.elementor-element-10720ce{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:-10px;margin-bottom:0px;padding:5px 0px 5px 0px;}.elementor-251 .elementor-element.elementor-element-10720ce > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-251 .elementor-element.elementor-element-65c11d1e > .elementor-element-populated{margin:10px 0px -20px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-251 .elementor-element.elementor-element-2b8095e2 img{width:113px;height:71px;}.elementor-251 .elementor-element.elementor-element-2b8095e2 > .elementor-widget-container{margin:0px 050px 0px 0px;}.elementor-251 .elementor-element.elementor-element-566276a7 .elementor-heading-title{color:#000000;}body:not(.rtl) .elementor-251 .elementor-element.elementor-element-566276a7{left:0px;}body.rtl .elementor-251 .elementor-element.elementor-element-566276a7{right:0px;}.elementor-251 .elementor-element.elementor-element-566276a7{top:48px;}.elementor-251 .elementor-element.elementor-element-2c9d86f0 > .elementor-element-populated{margin:0px 0px 0px 10px;--e-column-margin-right:0px;--e-column-margin-left:10px;}.elementor-251 .elementor-element.elementor-element-17b1417c .elementor-menu-toggle{margin:0 auto;}.elementor-251 .elementor-element.elementor-element-17b1417c .elementor-nav-menu .elementor-item{font-family:"DM Sans", Sans-serif;font-size:14px;font-weight:600;letter-spacing:1.4px;}.elementor-251 .elementor-element.elementor-element-17b1417c .elementor-nav-menu--main .elementor-item{color:#252525;fill:#252525;}.elementor-251 .elementor-element.elementor-element-17b1417c .elementor-nav-menu--main .elementor-item:hover,
					.elementor-251 .elementor-element.elementor-element-17b1417c .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-251 .elementor-element.elementor-element-17b1417c .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-251 .elementor-element.elementor-element-17b1417c .elementor-nav-menu--main .elementor-item:focus{color:#DB7137;fill:#DB7137;}.elementor-251 .elementor-element.elementor-element-17b1417c .elementor-nav-menu--main .elementor-item.elementor-item-active{color:#DB7137;}.elementor-251 .elementor-element.elementor-element-17b1417c > .elementor-widget-container{margin:20px 0px 10px 0px;}.elementor-251 .elementor-element.elementor-element-17b1417c{width:200000px;max-width:200000px;}.elementor-251 .elementor-element.elementor-element-bd0fd45 .elementor-icon-wrapper{text-align:center;}.elementor-251 .elementor-element.elementor-element-bd0fd45.elementor-view-stacked .elementor-icon{background-color:#000000;}.elementor-251 .elementor-element.elementor-element-bd0fd45.elementor-view-framed .elementor-icon, .elementor-251 .elementor-element.elementor-element-bd0fd45.elementor-view-default .elementor-icon{color:#000000;border-color:#000000;}.elementor-251 .elementor-element.elementor-element-bd0fd45.elementor-view-framed .elementor-icon, .elementor-251 .elementor-element.elementor-element-bd0fd45.elementor-view-default .elementor-icon svg{fill:#000000;}.elementor-251 .elementor-element.elementor-element-bd0fd45 .elementor-icon{font-size:20px;}.elementor-251 .elementor-element.elementor-element-bd0fd45 .elementor-icon i, .elementor-251 .elementor-element.elementor-element-bd0fd45 .elementor-icon svg{transform:rotate(0deg);}body:not(.rtl) .elementor-251 .elementor-element.elementor-element-bd0fd45{left:-120px;}body.rtl .elementor-251 .elementor-element.elementor-element-bd0fd45{right:-120px;}.elementor-251 .elementor-element.elementor-element-bd0fd45{top:5px;}.elementor-251 .elementor-element.elementor-element-556ba57 .elementor-icon-wrapper{text-align:center;}.elementor-251 .elementor-element.elementor-element-556ba57.elementor-view-stacked .elementor-icon{background-color:#000000;}.elementor-251 .elementor-element.elementor-element-556ba57.elementor-view-framed .elementor-icon, .elementor-251 .elementor-element.elementor-element-556ba57.elementor-view-default .elementor-icon{color:#000000;border-color:#000000;}.elementor-251 .elementor-element.elementor-element-556ba57.elementor-view-framed .elementor-icon, .elementor-251 .elementor-element.elementor-element-556ba57.elementor-view-default .elementor-icon svg{fill:#000000;}.elementor-251 .elementor-element.elementor-element-556ba57 .elementor-icon{font-size:20px;}.elementor-251 .elementor-element.elementor-element-556ba57 .elementor-icon i, .elementor-251 .elementor-element.elementor-element-556ba57 .elementor-icon svg{transform:rotate(0deg);}body:not(.rtl) .elementor-251 .elementor-element.elementor-element-556ba57{left:-175px;}body.rtl .elementor-251 .elementor-element.elementor-element-556ba57{right:-175px;}.elementor-251 .elementor-element.elementor-element-556ba57{top:5px;}.elementor-251 .elementor-element.elementor-element-5b89b01 .elementor-button .elementor-align-icon-right{margin-left:0px;}.elementor-251 .elementor-element.elementor-element-5b89b01 .elementor-button .elementor-align-icon-left{margin-right:0px;}.elementor-251 .elementor-element.elementor-element-5b89b01 .elementor-button{font-family:"DM Sans", Sans-serif;font-weight:500;letter-spacing:0.375px;fill:#252525;color:#252525;background-color:#61CE7000;border-style:solid;border-width:1px 1px 1px 1px;border-color:#DB7137;border-radius:0px 0px 0px 0px;padding:20px 30px 20px 30px;}.elementor-251 .elementor-element.elementor-element-5b89b01 .elementor-button:hover, .elementor-251 .elementor-element.elementor-element-5b89b01 .elementor-button:focus{color:#FFFFFF;background-color:#DB7137;}.elementor-251 .elementor-element.elementor-element-5b89b01 .elementor-button:hover svg, .elementor-251 .elementor-element.elementor-element-5b89b01 .elementor-button:focus svg{fill:#FFFFFF;}.elementor-251 .elementor-element.elementor-element-5b89b01 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-251 .elementor-element.elementor-element-5b89b01{width:initial;max-width:initial;top:-15px;}body:not(.rtl) .elementor-251 .elementor-element.elementor-element-5b89b01{left:-154px;}body.rtl .elementor-251 .elementor-element.elementor-element-5b89b01{right:-154px;}.elementor-251 .elementor-element.elementor-element-41d126f > .elementor-container{min-height:410px;}.elementor-251 .elementor-element.elementor-element-41d126f > .elementor-background-overlay{background-image:url("https://grasuki.github.io/mywordpress/wp-content/uploads/2022/10/page-title_contacts-scaled-1.jpg");background-position:center center;background-size:cover;opacity:1;}.elementor-251 .elementor-element.elementor-element-61a06ca{text-align:center;}.elementor-251 .elementor-element.elementor-element-61a06ca .elementor-heading-title{color:#FFFFFF;font-family:"DM Sans", Sans-serif;font-size:60px;font-weight:400;line-height:80px;}.elementor-251 .elementor-element.elementor-element-45a1329{margin-top:150px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-251 .elementor-element.elementor-element-f6d2cb5 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-251 .elementor-element.elementor-element-28bf75d .elementor-heading-title{color:#252525;font-family:"DM Sans", Sans-serif;font-size:48px;font-weight:400;line-height:60px;}.elementor-251 .elementor-element.elementor-element-401544a .elementor-heading-title{color:#535353;font-family:"DM Sans", Sans-serif;font-size:16px;font-weight:400;font-style:italic;line-height:30px;}.elementor-251 .elementor-element.elementor-element-401544a > .elementor-widget-container{padding:40px 0px 0px 170px;}.elementor-251 .elementor-element.elementor-element-247ac82{margin-top:75px;margin-bottom:0px;}.elementor-251 .elementor-element.elementor-element-0aba576{margin-top:100px;margin-bottom:100px;padding:0px 0px 0px 0px;}.elementor-251 .elementor-element.elementor-element-8f2ff07 > .elementor-widget-container{padding:0px 0px 0px 50px;}.elementor-251 .elementor-element.elementor-element-474c993{text-align:center;top:150px;}.elementor-251 .elementor-element.elementor-element-474c993 .elementor-heading-title{color:#252525;font-family:"DM Sans", Sans-serif;font-size:53px;font-weight:400;line-height:60px;}body:not(.rtl) .elementor-251 .elementor-element.elementor-element-474c993{left:0px;}body.rtl .elementor-251 .elementor-element.elementor-element-474c993{right:0px;}.elementor-251 .elementor-element.elementor-element-a31dd80{--spacer-size:1000px;}.elementor-251 .elementor-element.elementor-element-a31dd80 > .elementor-widget-container{background-color:#FAF6F1;}.elementor-251 .elementor-element.elementor-element-e851d6c:hover img{opacity:1;}.elementor-251 .elementor-element.elementor-element-e851d6c img{border-radius:50% 0% 0% 0%;}.elementor-251 .elementor-element.elementor-element-e851d6c:hover .elementor-widget-container{background-color:#FFFFFF;}.elementor-251 .elementor-element.elementor-element-e851d6c > .elementor-widget-container{transition:background 0.5s;}.elementor-251 .elementor-element.elementor-element-622268d img{border-radius:0% 0% 50% 0%;}.elementor-251 .elementor-element.elementor-element-fdb9ce6 img{border-radius:50% 0% 0% 0%;}.elementor-251 .elementor-element.elementor-element-2cf3b24 .elementor-icon-wrapper{text-align:center;}.elementor-251 .elementor-element.elementor-element-2cf3b24 .elementor-icon i, .elementor-251 .elementor-element.elementor-element-2cf3b24 .elementor-icon svg{transform:rotate(0deg);}body.elementor-page-251:not(.elementor-motion-effects-element-type-background), body.elementor-page-251 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}@media(min-width:768px){.elementor-251 .elementor-element.elementor-element-65c11d1e{width:20%;}.elementor-251 .elementor-element.elementor-element-2c9d86f0{width:60%;}.elementor-251 .elementor-element.elementor-element-4f518b99{width:14.36%;}.elementor-251 .elementor-element.elementor-element-20202cd8{width:2.915%;}.elementor-251 .elementor-element.elementor-element-7770d3d5{width:2.637%;}.elementor-251 .elementor-element.elementor-element-f6d2cb5{width:40%;}.elementor-251 .elementor-element.elementor-element-2c030cc{width:60%;}.elementor-251 .elementor-element.elementor-element-f2a27ea{width:33.432%;}.elementor-251 .elementor-element.elementor-element-b2a5154{width:32.869%;}}/* Start custom CSS for nav-menu, class: .elementor-element-17b1417c *//*.elementor-item-active:after {*/
/*    content: "....." !important;*/
/*    padding-left: 20px;*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    letter-spacing: 4.5px;*/
/*    font-size: 20px;*/
/*}*//* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-36669e5 */.hello1 {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    color: #db7137;
    background: currentColor;
    box-shadow: 10px 0px currentColor, 20px 0px currentColor, 30px 0px currentColor, 40px 0px currentColor, 50px 0px currentColor, 60px 0px currentColor, 70px 0px currentColor, 80px 0px currentColor;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-0aba576 */.client11 {
    transition: all 0.5s ease;
}
.client12 {
    transition: all 0.5s ease;
    position: absolute;
    margin-top: -31px;
    z-index: 1 !important;
}
.ex:hover .client12{
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 0px !important;
}
.ex:hover .client11{
 margin-top: 31px;
}


.client21 {
    transition: all 0.5s ease;
}
.client22 {
    transition: all 0.5s ease;
    position: absolute;
    margin-top: -88px;
    z-index: 1 !important;
}
.ex:hover .client22{
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 0px !important;
}
.ex:hover .client21{
 margin-top: 88px;
}

.client31 {
    transition: all 0.5s ease;
}
.client32 {
    transition: all 0.5s ease;
    position: absolute;
    margin-top: -40px;
    z-index: 1 !important;
}
.ex:hover .client32{
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 0px !important;
}
.ex:hover .client31{
 margin-top: 40px;
}

.client41 {
    transition: all 0.5s ease;
}
.client42 {
    transition: all 0.5s ease;
    position: absolute;
    margin-top: -95px;
    z-index: 1 !important;
}
.ex:hover .client42{
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 0px !important;
}
.ex:hover .client41{
 margin-top: 95px;
}


.client51 {
    transition: all 0.5s ease;
}
.client52 {
    transition: all 0.5s ease;
    position: absolute;
    margin-top: -82px;
    z-index: 1 !important;
}
.ex:hover .client52{
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 0px !important;
}
.ex:hover .client51{
 margin-top: 82px;
}

.client61 {
    transition: all 0.5s ease;
}
.client62 {
    transition: all 0.5s ease;
    position: absolute;
    margin-top: -53px;
    z-index: 1 !important;
}
.ex:hover .client62{
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 0px !important;
}
.ex:hover .client61{
 margin-top: 53px;
}
.ex {
    position: absolute;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-474c993 */.header:before {
    content: '';
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 0;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    color: #db7137;
    background: #db7137;
    box-shadow: 10px 0px #db7137, 20px 0px #db7137, 30px 0px #db7137, 40px 0px #db7137, 50px 0px #db7137, 60px 0px #db7137, 70px 0px #db7137, 80px 0px #db7137;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-e851d6c */.anh1hover {
    transition: opacity 0.5s ease;
    opacity: 0;
}
.anh1:hover .anh1hover {
    background: white;
    width: 100%;
    height: 92%;
    position: absolute;
    bottom: 8%;
    border-radius: 50% 0 0 0;
    opacity: 0.9;
    border: 1px solid #db7137;

}
.anh1:hover .bieutuong1 {
    transition: all 0.5s ease ;
}
.anh1:hover .bieutuong2 {
    transition: all 0.5s ease 0.1s;
}
.anh1:hover .bieutuong3 {
    transition: all 0.5s ease 0.2s;
}
.anh1:hover .bieutuong4 {
    transition: all 0.5s ease 0.3s;
}



.anh1:hover .bieutuong1, .anh1:hover .bieutuong2, .anh1:hover .bieutuong3, .anh1:hover .bieutuong4 {
    top: 40%;
    opacity: 1;
}
.bieutuong1, .bieutuong2, .bieutuong3, .bieutuong4 {
    position: absolute;
    top: 50%;
    opacity: 0;

}
.bieutuong1 {
    left: 25%;
    transition: all 0s ease;
}
.bieutuong2 {
    left: 40%;
    transition: all 0s ease;
}
.bieutuong3 {
    left: 55%;
    transition: all 0s ease;
}
.bieutuong4 {
    left: 70%;
    transition: all 0s ease;
}/* End custom CSS */
/* Start custom CSS */.CFG {
    box-shadow: none !important;
    background: #db7137 !important;
    color: white !important;
    border-radius: 0 !important;
    border: 0 !important;
    outline: none !important;
    
}/* End custom CSS */